name: Discord Bot

on:
  push:
    branches: [ main ]

# BU KISIM ÇOK KRİTİK: Çakışmayı engeller
concurrency:
  group: discord-bot-group
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: pip install discord.py
      - name: Run Bot
        env:
          TOKEN: ${{ secrets.TOKEN }}
        run: python evoPublic.py
